<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>883884939923-0vfl2dpa0tnqph54csvp1cn30j0l2jbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.883884939923-0vfl2dpa0tnqph54csvp1cn30j0l2jbj</string>
	<key>API_KEY</key>
	<string>AIzaSyAusA-jqGwznum7Fg3VKEJ1opvgxh-9SAQ</string>
	<key>GCM_SENDER_ID</key>
	<string>883884939923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MovieOnMobile</string>
	<key>PROJECT_ID</key>
	<string>movieonmobile-115d3</string>
	<key>STORAGE_BUCKET</key>
	<string>movieonmobile-115d3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:883884939923:ios:9eb1ee134f3ff31c0b4b66</string>
</dict>
</plist>